<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property file="application.properties" />

    <logger name="org.springframework" level="INFO" />
    <logger name="com.mherb" level="${logging.level.com.mherb}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/recipe-manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>log/recipe-manager-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Keep logs for 14 days -->
            <maxHistory>14</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>50GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>